@import './_variables.scss';

//FORMS
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.7rem + 2px);
  padding: 0.65rem 1rem;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.5;
  color: #3f4254;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--customerSecondaryColor);
  border-radius: 0.42rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  &:focus {
    box-shadow: none;
  }
  &-sm {
    height: 2.2rem;
    padding: 0.3rem 0.8rem;
  }
  &-md {
    height: 2.45rem;
    padding: 0.3rem 0.8rem;
  }
  &-lg {
    height: 3.5rem;
  }
  &-solid {
    background-color: $wave-grey;
    border-color: $wave-grey;
    &:focus {
      border-color: $border-grey;
      background-color: $border-grey;
    }
  }
}

.card {
  border: none;
  box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
  border-radius: 0.42rem;
  &-title {
    font-weight: 600;
    color: $text-dark;
  }
  &-header {
    border: none;
    display: flex;
    align-items: center;
    background: transparent;
    justify-content: space-between;
    border-bottom: 1px solid $border-grey;
    padding: 1.5rem 1.95rem;
    h4 {
      font-size: 1.275rem;
      margin: 0;
      display: flex;
      flex-direction: column;
      font-weight: 500;
      small {
        font-size: 0.925rem;
        color: $text-muted;
      }
    }
    img {
      width: 2rem;
    }
    &-actions {
      display: flex;
      .buttons {
        // min-width: 25rem;
        .dropdown-toggle:after {
          display: none;
        }
        .dropdown-menu {
          border: none;
          box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
          .dropdown-item {
            padding: 0.5rem 2rem;
            font-size: 0.9rem;
            box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
            &:hover {
              background-color: $color-primary-light;
              color: $color-primary;
            }
          }
        }
      }
      .btn {
        svg {
          width: 0.9rem;
          fill: #fff;
        }
      }
    }
  }
  &-body {
    padding: 1.5rem 1.95rem;
  }
}

// TEXT STYLES
.text {
  &-dark {
    color: $text-dark;
  }
  &-secondary {
    color: $color-secondary !important;
  }
  &-black {
    color: #000;
  }
  &-purple {
    color: $text-purple;
  }
  &-muted {
    color: $text-muted !important;
  }
  &-grey {
    color: $text-grey;
  }
  &-primary {
    color: $color-primary !important;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #ffffffb8;
  z-index: 999;
  width: 100%;
  position: absolute;
  overflow: hidden;
  img {
    width: 5rem;
  }
}

.cursor-pointer {
  cursor: pointer;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: $text-muted !important;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $text-muted !important;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $text-muted !important;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $text-muted !important;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $text-muted !important;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: $text-muted !important;
}
