// THEME COLORS
$color-primary: #e7562e;
$color-secondary: #343e55;
$color-primary-light: #ffcabc;

$bg-grey: #eef0f8;
$border-grey: #ebedf3;

//TEXT
$text-grey: #7e8299;
$text-muted: #b5b5c3;
$text-dark: #212529;
$text-purple: #3f4254;
$text-fuse-grey: #a2a3b7;

//CARDS-WAVE
$wave-grey: #f3f6f9;
