<div class="loading" *ngIf="loading">
  <img src="../../../../assets/images/loader.gif" alt="" />
</div>
<div class="container email">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Archives ({{ data.length }})</h4>
          <div class="card-header-actions">
            <div class="p-2 d-flex align-items-center">
              <label for="">Search: </label>
              <input
                type="input"
                class="form-control ms-2 form-control-md form-control-solid"
                placeholder="e.g..iBuy, trip"
                [(ngModel)]="searchUser"
                (input)="updateSearch($event)"
              />
            </div>
            <div class="p-2 d-flex align-items-center">
              <select
                [(ngModel)]="pageSize"
                class="custom-select form-control form-control-sm"
              >
                <option [value]="perPage" *ngFor="let perPage of pages">
                  {{ perPage }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3 px-0">
              <ul class="list-group list-group-flush email__items">
                <li
                  [ngClass]="{ active: selecetdEmail?.id === item?.id }"
                  (click)="emailHandler(item)"
                  class="list-group-item cursor-pointer"
                  *ngFor="
                    let item of data
                      | searchItem: searchUser
                      | slice: (page - 1) * pageSize:page * pageSize
                  "
                >
                  <div class="d-flex align-items-center">
                    <div class="text-truncate">
                      <h6 class="text-dark mb-0">{{ item.from }}</h6>
                      <p
                        class="text-purple text-truncate mb-0"
                        [innerHTML]="item.subject | highlight: searchTerm"
                      ></p>
                      <p
                        class="text-grey text-truncate mb-0"
                        [innerHTML]="item.body | highlight: searchTerm"
                      ></p>
                    </div>
                  </div>
                  <div
                    class="email__actions d-flex align-items-center justify-content-between"
                  >
                    <span class="text-muted">
                      {{ item.date | date : 'M/d/yy, h:mm a' }}
                    </span>
                    <div class="d-flex align-items-center">
                      <a
                        href="javascript:;"
                        placement="top"
                        ngbTooltip="Move to trash"
                      >
                        <svg
                          id="Layer_1"
                          style="enable-background: new 0 0 64 64"
                          version="1.1"
                          viewBox="0 0 64 64"
                          xml:space="preserve"
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                        >
                          <g>
                            <g
                              id="Icon-Trash"
                              transform="translate(232.000000, 228.000000)"
                            >
                              <polygon
                                id="Fill-6"
                                points="-207.5,-205.1 -204.5,-205.1 -204.5,-181.1 -207.5,-181.1    "
                              />
                              <polygon
                                id="Fill-7"
                                points="-201.5,-205.1 -198.5,-205.1 -198.5,-181.1 -201.5,-181.1    "
                              />
                              <polygon
                                id="Fill-8"
                                points="-195.5,-205.1 -192.5,-205.1 -192.5,-181.1 -195.5,-181.1    "
                              />
                              <polygon
                                id="Fill-9"
                                points="-219.5,-214.1 -180.5,-214.1 -180.5,-211.1 -219.5,-211.1    "
                              />
                              <path
                                d="M-192.6-212.6h-2.8v-3c0-0.9-0.7-1.6-1.6-1.6h-6c-0.9,0-1.6,0.7-1.6,1.6v3h-2.8v-3     c0-2.4,2-4.4,4.4-4.4h6c2.4,0,4.4,2,4.4,4.4V-212.6"
                                id="Fill-10"
                              />
                              <path
                                d="M-191-172.1h-18c-2.4,0-4.5-2-4.7-4.4l-2.8-36l3-0.2l2.8,36c0.1,0.9,0.9,1.6,1.7,1.6h18     c0.9,0,1.7-0.8,1.7-1.6l2.8-36l3,0.2l-2.8,36C-186.5-174-188.6-172.1-191-172.1"
                                id="Fill-11"
                              />
                            </g>
                          </g>
                        </svg>
                      </a>
                      <a
                        href="javascript:;"
                        placement="top"
                        ngbTooltip="Archive"
                      >
                        <svg
                          enable-background="new 0 0 64 64"
                          id="Layer_1"
                          version="1.1"
                          viewBox="0 0 512 512"
                          xml:space="preserve"
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                        >
                          <path
                            d="M463.518,94.909H193.885v-10.37c0-22.908-18.574-41.482-41.482-41.482H48.699  c-22.908,0-41.482,18.574-41.482,41.482v51.852v72.593v217.78c0,22.907,18.574,41.482,41.482,41.482h414.819  c22.908,0,41.482-18.575,41.482-41.482V136.391C505,113.483,486.426,94.909,463.518,94.909z M27.958,84.539  c0-11.435,9.308-20.741,20.741-20.741h103.705c11.433,0,20.741,9.306,20.741,20.741v10.37v20.741h20.741h269.633  c11.433,0,20.741,9.306,20.741,20.741v20.741H27.958v-20.741V84.539z M463.518,447.506H48.699c-11.433,0-20.741-9.307-20.741-20.741  v-217.78v-31.111h456.301v248.892C484.259,438.198,474.952,447.506,463.518,447.506z"
                          />
                        </svg>
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-9 px-0">
              <app-email-content
                *ngIf="selecetdEmail && (data | searchItem: searchUser)?.length"
                [mail]="selecetdEmail"
                [searchTerm]="searchTerm"
              ></app-email-content>
              <div
                class="text-grey"
                *ngIf="(data | searchItem: searchUser)?.length === 0"
              >
                <p>No record found for the search criteria</p>
              </div>
            </div>
          </div>
          <ngb-pagination
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="data.length"
            [maxSize]="5"
            [rotate]="true"
            [boundaryLinks]="true"
          ></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
