@import '../../../assets/scss/_variables.scss';

.email {
  .card-header{
    padding: 0.5rem 1.5rem;
  }
  &__actions {
    font-size: 0.8rem;
    a{
      svg{
        transition: all 0.5s ease;
        width: 1.4rem;
        fill: $color-secondary;
      }
      &:hover{
        svg{
          fill: $color-primary;
        }
      }
    }
  }
  &_time {
    min-width: 8rem;
    font-size: 0.7rem;
  }
  .list-group{
    &-item{
      border-right: 1px solid $border-grey;
      &.active{
        background: $wave-grey;
        border-color: $wave-grey;
      }
    }
  }

  ::ng-deep .pagination {
    justify-content: flex-end;
    margin: 1rem 0 0 0;
    li {
      margin: 0 0.15rem;
      &:first-child,
      &:last-child {
        a {
          background: $color-primary;
          font-size: 1.2rem;
          min-width: 2rem;
          height: 2rem;
          font-weight: 400;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .page-link {
        background: transparent;
        border: none;
        color: $text-grey;
        min-width: 2rem;
        height: 2rem;
        transition: all 1s ease;
        display: flex;
        align-items: baseline;
        justify-content: center;
        &:hover {
          background: $color-primary;
          color: #fff;
        }
      }
      &.active {
        .page-link {
          background: $color-primary;
          color: #fff;
        }
      }
    }
    .sr-only {
      display: none;
    }
  }
  mark {
    background-color: yellow !important;
  }
}
