@import '../../../assets/scss/_variables.scss';

.header {
  background: #fff;
  box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.25);
  // border-bottom: 1px solid var(--customerSecondaryColor);
  padding: 0.5rem 1rem;
  &__logo {
    img {
      width: 2.5rem;
    }
  }
  &__svg {
    color: $color-secondary;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-right: 0.8rem;
    svg {
      transition: all 0.5s ease;
      fill: $color-secondary;
      width: 1.5rem;
    }
    &:hover {
      color: $color-primary;
      svg {
        transition: all 0.5s ease;
        fill: $color-primary;
      }
    }
    &_img{
      height: 2.5rem;
      width: 2.5rem;
      margin-right: 0.4rem;
      img{
        width: 100%;
        height: inherit;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
  &__seperator {
    width: 0.02rem;
    background: $text-muted;
    margin-right: 0.9rem;
  }
}
