<nav class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-between">
          <h4 class="text-secondary m-0">Behavox Ltd.</h4>
          <div class="d-flex align-items-center">
            <div ngbDropdown class="d-flex">
              <div class="header__svg" id="dropdownBasic1" ngbDropdownToggle>
                <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                  <g id="Subscribers">
                    <path
                      d="M427.1085,320.4436l-17.95-15.3032a38.0342,38.0342,0,1,0-37.6258-65.8194,8.012,8.012,0,0,0-.7346-.7628L316.0562,189.495a83.6935,83.6935,0,1,0-118.2143,1.8955L142.9825,240.56c-.1372.123-.2615.2548-.3882.3848A38.0141,38.0141,0,1,0,102.8416,305.14l-17.95,15.3033a62.8356,62.8356,0,0,0-22.07,47.817v17.6224a7.3,7.3,0,0,0,7.3,7.3h97.6767a7.3,7.3,0,0,0,7.3-7.3V368.2607a62.8357,62.8357,0,0,0-22.07-47.8169l-17.95-15.3034a38.03,38.03,0,0,0,21.8285-37.0252,37.5113,37.5113,0,0,0-4.1958-14.9181,8.0343,8.0343,0,0,0,.9507-.7224l56.872-50.9731A83.122,83.122,0,0,0,248,214.5916v89.29a8.0677,8.0677,0,0,0,.0454.8445,38.031,38.031,0,0,0-8.1641,71.6369l-17.95,15.3032a62.8361,62.8361,0,0,0-22.07,47.8171v17.6224a7.3,7.3,0,0,0,7.3,7.3h97.6767a7.3,7.3,0,0,0,7.3-7.3V439.4831a62.8355,62.8355,0,0,0-22.07-47.8169l-17.95-15.3034a38.0378,38.0378,0,0,0-8.1622-71.6478,8.1111,8.1111,0,0,0,.0437-.8336v-89.29a83.1693,83.1693,0,0,0,39.759-14.6312l56.3591,50.5128c.1541.1379.3145.2637.4756.3875a38.0214,38.0214,0,0,0,16.3274,54.28l-17.95,15.3032a62.8359,62.8359,0,0,0-22.07,47.8171v17.6224a7.3,7.3,0,0,0,7.3,7.3h97.6767a7.3,7.3,0,0,0,7.3-7.3V368.261A62.8366,62.8366,0,0,0,427.1085,320.4436ZM188.3057,131.2887A67.6944,67.6944,0,1,1,256,198.983,67.7709,67.7709,0,0,1,188.3057,131.2887Z"
                    />
                    <path
                      d="M235.8272,167.8536a8,8,0,0,0,8.0195-.0337l50.2227-29.3745a8,8,0,0,0,0-13.8115l-50.2227-29.375a8,8,0,0,0-12.039,6.9057v58.75A8,8,0,0,0,235.8272,167.8536Z"
                    />
                  </g>
                </svg>
              </div>
              <div class="header__svg" id="dropdownBasic1" ngbDropdownToggle>
                <svg
                  enable-background="new 0 0 24 24"
                  height="18px"
                  id="Layer_1"
                  version="1.1"
                  viewBox="0 0 24 24"
                  xml:space="preserve"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <g>
                    <path
                      d="M22.9,1H18c0-0.6-0.4-1-1-1s-1,0.4-1,1H8c0-0.6-0.4-1-1-1S6,0.4,6,1H1.1C0.5,1,0,1.5,0,2.1v20.8C0,23.5,0.5,24,1.1,24h21.8   c0.6,0,1.1-0.5,1.1-1.1V2.1C24,1.5,23.5,1,22.9,1z M22,22H2V8h20V22z M22,7H2V3h4v1c0,0.6,0.4,1,1,1s1-0.4,1-1V3h8v1   c0,0.6,0.4,1,1,1s1-0.4,1-1V3h4V7z"
                    />
                    <path
                      d="M10.3,17.7c0.4,0.4,1,0.4,1.4,0l4.1-4.1c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0L11,15.7l-1.4-1.4c-0.4-0.4-1-0.4-1.4,0   c-0.4,0.4-0.4,1,0,1.4L10.3,17.7z"
                    />
                  </g>
                </svg>
              </div>
              <div class="header__seperator"></div>
              <div class="header__svg" id="dropdownBasic1" ngbDropdownToggle>
                <svg
                  enable-background="new 0 0 48 48"
                  version="1.1"
                  viewBox="0 0 48 48"
                  xml:space="preserve"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <g id="Expanded">
                    <g>
                      <g>
                        <path
                          d="M44,40H4c-2.206,0-4-1.794-4-4V12c0-2.206,1.794-4,4-4h40c2.206,0,4,1.794,4,4v24C48,38.206,46.206,40,44,40z M4,10     c-1.103,0-2,0.897-2,2v24c0,1.103,0.897,2,2,2h40c1.103,0,2-0.897,2-2V12c0-1.103-0.897-2-2-2H4z"
                        />
                      </g>
                      <g>
                        <path
                          d="M24,29.191L6.457,17.84c-0.464-0.301-0.597-0.919-0.297-1.383s0.919-0.596,1.383-0.297L24,26.809L40.457,16.16     c0.464-0.299,1.083-0.167,1.383,0.297s0.167,1.082-0.297,1.383L24,29.191z"
                        />
                      </g>
                      <g>
                        <path
                          d="M6.001,34c-0.323,0-0.641-0.156-0.833-0.445c-0.307-0.46-0.183-1.08,0.277-1.387l9-6c0.46-0.307,1.081-0.183,1.387,0.277     c0.307,0.46,0.183,1.08-0.277,1.387l-9,6C6.384,33.945,6.191,34,6.001,34z"
                        />
                      </g>
                      <g>
                        <path
                          d="M41.999,34c-0.19,0-0.383-0.055-0.554-0.168l-9-6c-0.46-0.307-0.584-0.927-0.277-1.387     c0.306-0.46,0.926-0.584,1.387-0.277l9,6c0.46,0.307,0.584,0.927,0.277,1.387C42.64,33.844,42.322,34,41.999,34z"
                        />
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="header__svg" id="dropdownBasic1" ngbDropdownToggle>
                <svg
                  id="Layer_1"
                  style="enable-background: new 0 0 512 512"
                  version="1.1"
                  viewBox="0 0 512 512"
                  xml:space="preserve"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <style type="text/css">
                    .st0 {
                      stroke: #000000;
                      stroke-width: 14;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-miterlimit: 10;
                    }
                  </style>
                  <path
                    class="st0"
                    d="M105,254c-9.9,6.4-33.8,21.4-43.7,27.8c-1.4,0.9-2.7,1.9-4.6,3.2c103.3,58.3,206.1,116.2,309.3,174.4  c0.4-6.1,0.8-11.4,1.1-16.7c1.7-28.2,3.3-56.3,5.2-84.5c0.2-3.2,1.3-6.6,2.9-9.3c20.3-34.6,40.8-69.2,61.2-103.7  c16.2-27.4,22.4-56.8,16.3-88.2c-4.6-23.8-12.8-41.3-27.9-58"
                  />
                  <path class="st0" d="M407.3,81.4c-0.3-0.2-0.5-0.4-0.8-0.6" />
                  <path
                    class="st0"
                    d="M387,68.3c-34.9-18.6-71.6-20.6-109.3-6.6c-29.9,11.1-51.9,31.5-67.8,59c-2,3.5-4.1,7-6.1,10.5"
                  />
                  <path
                    class="st0"
                    d="M190.5,153.7c-13.5,22.9-27.1,45.7-40.7,68.5c-1.5,2.5-3.7,4.8-6.2,6.4c-11.6,7.5-23.2,15-34.7,22.5"
                  />
                  <path class="st0" d="M155.5,427.1c0.5,0.7,1.1,1.4,1.6,2.1" />
                  <path
                    class="st0"
                    d="M176.4,443.6c21.8,8.8,48.5,0.7,60.8-20.2c-28.2-15.9-56.1-31.6-83.9-47.3c-6.1,9.3-7.9,20.5-6,31.2"
                  />
                </svg>
              </div>
            </div>

            <div ngbDropdown class="d-inline-block ms-3">
              <div
                class="header__svg d-flex align-items-center"
                id="dropdownBasic2"
                ngbDropdownToggle
              >
                <div class="header__svg_img">
                  <img src="../../../assets/images/user_dp.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
