.emailContent{
    white-space: pre-line;
    &__header{
        display: flex;
        align-items: center;
        img{
            width: 3.5rem;
            border-radius: 20%;
            margin-right: 0.7rem;
        }
    }
}