<div class="container emailContent">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-primary" [innerHTML]="_mail.subject | highlight: _searchTerm"></h4>
      <hr />
      <div class="emailContent__header">
        <div *ngIf="_mail.senderAvatar">
          <img src="{{ _mail.senderAvatar }}" alt="" />
        </div>
        <div>
          <h5 class="mb-1 text-dark">
            {{ _mail.from }}
          </h5>
          <div class="d-flex flex-wrap mb-2">
            <h6 class="mb-0 text-purple me-2">To: </h6>
            <h6 class="mb-0 text-purple me-2" *ngFor="let reciever of _mail.to">
              <a href="mailto:{{reciever}}">{{ reciever }}</a>
            </h6>
          </div>
          <div class="d-flex flex-wrap mb-2" *ngIf="_mail.cc.length">
            <h6 class="mb-0 text-purple me-2">CC: </h6>
            <h6 class="mb-0 text-purple me-2" *ngFor="let reciever of _mail.cc">
              <a href="mailto:{{reciever}}">{{ reciever }}</a>
            </h6>
          </div>
          <div class="d-flex flex-wrap mb-2" *ngIf="_mail.bcc.length">
            <h6 class="mb-0 text-purple me-2">BCC: </h6>
            <h6 class="mb-0 text-purple me-2" *ngFor="let reciever of _mail.bcc">
              <a href="mailto:{{reciever}}">{{ reciever }}</a>
            </h6>
          </div>
          <p class="mb-0 text-grey">{{ _mail.date | date : 'M/d/yy, h:mm a' }}</p>
        </div>
      </div>
      <div
        class="emailContent__body mt-2"
        [innerHTML]="_mail.body | highlight: _searchTerm"
      ></div>
    </div>
  </div>
</div>
