<app-header></app-header>
<div class="container h-100">
  <div class="row h-100 mt-5">
    <div class="col-md-2 col-lg-2 px-0">
      <app-sidebar></app-sidebar>
    </div>
    <main class="col-md-10 col-lg-10 px-0 position-relative">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
