@import '../../../assets/scss/_variables';

.sidebar {
  ul li {
    padding: 0;
    border: none;
    a {
      display: flex;
      text-decoration: none;
      padding: 1rem;
      color: $color-secondary;
      transition: all 0.5s ease;
      svg{
        transition: all 0.5s ease;
        width: 1.4rem;
        fill: $color-secondary;
        margin-right: 0.5rem;
      }
      &:hover {
        color: $color-primary;
        svg{
          fill: $color-primary;
        }
      }
    }
  }

}
