/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import './assets/scss/_variables.scss';
@import './assets/scss/_base.scss';
body,
html {
  font-family: 'Poppins', sans-serif;
  font-size: 0.92rem;
  background-color: $bg-grey !important;
  height: 100%;
}
#ngb-live {
  display: none;
}
